body {
  background-color: #778899;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.container {
  width: 90%;
  background-color: #f5f5f5;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
.profile-image img {
  width: 60%;
  border-radius: 50%;
}

@media screen and (min-width: 960px) {
  .profile-image img {
    max-width: 960px;
  }
}
